<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Match</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Final Score:</h1>
                <div class="row">
                    <a class="col-6 text-right">
                        <h3>{{final.team1}}</h3>
                    </a>
                    <a class="col-6 text-left">
                        <h3>{{final.team2}}</h3>
                    </a>
                </div>
                <div class="text-center">
                    <h1>{{final.score1}} - {{final.score2}}</h1>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <a class="col-6 text-right">
                            <input type="submit" class="btn btn-primary" name="goback" value="Change Team">
                        </a>
                        <a class="col-6 text-left">
                            <input type="submit" class="btn btn-primary" name="tryagain" value="Try Again">
                        </a>
                    </div>
                </form>

            </div>


            <div class="row">
                <a class="col-6 text-right">
                    <h5>{{final.team1}} players:</h5>
                </a>
                <a class="col-6 text-left">
                    <h5>{{final.team2}} players:</h5>
                </a>
            </div>
            <div class="row">
                <a class="col-6 text-right">
                    {% for player in final.team1.field_team %}
                    <p> {{ player }} ({{player.position}})</p>
                    {% endfor %}
                </a>
                <a class="col-6 text-left">
                    {% for player in final.team2.field_team %}
                    <p> {{ player }} ({{player.position}})</p>
                    {% endfor %}
                </a>
            </div>


        </div>
    </body>
</html>